

body{
  background-color: #F8F8F8 !important;
}

.title-catalog{

  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);
  border-radius:15px; 
  background-color: rgb(255, 255, 255);

}

.card-catalog{

  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.16);
  border-radius:14px !important; 
  background-color: rgb(255, 255, 255);
  border:none !important;
  margin-bottom: 1.5rem !important;

}